In [19]:
import os
from data_process import data4cluster as cluster
from sql_data import  sql4data
PATH = os.path.join(os.path.expanduser('~') , 'Desktop', 'III_Usage_clustering')

In [2]:
# connect to sql
#data_from_sql = sql4data( user='@@@@',
#                          password='@@@@@@@',
#                          database='@@@@@@@@@@@',
#                          host_address='@@@@@@@@@@@')

# down load data to the folder 'data' with name raw_data.csv between the start date and the end_data
#data_from_sql.read_data(start_date = '2018-01-01', end_date = '2018-01-15', file_name = 'test_data')
#data_from_sql.disconnect()

In [20]:
# load the test_data.csv
data = cluster()
df = data.read_data_from_csv(os.path.join( PATH,'data','test_data.csv'))

In [4]:
df.head()

   buildingid  channelid           reporttime      w
0           9          0  2018-01-01 00:00:47  570.0
1           9          0  2018-01-01 00:01:47  631.0
2           9          0  2018-01-01 00:02:47  613.0
3           9          0  2018-01-01 00:03:47  631.0
4           9          0  2018-01-01 00:04:47  545.0

In [5]:
# data.load_meters_from_buliding()
df_9_long = data.load_meters_from_buliding(9, sample_rate = '1min')
df_9_long.head()

data_process.py:60: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  df_result_long = df_result_long.resample(sample_rate, how='mean')
data_process.py:67: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  df_channel = df_channel.resample(sample_rate, how='mean')

,washing machine,air conditioner,fridge,television,main
reporttime,,,,,
2018-01-01 00:00:00,0.0,0.0,2.0,192.0,570.0
2018-01-01 00:01:00,0.0,0.0,8.0,189.0,631.0
2018-01-01 00:02:00,0.0,0.0,1.0,194.0,613.0
2018-01-01 00:03:00,0.0,0.0,2.0,197.0,631.0
2018-01-01 00:04:00,0.0,0.0,1.0,196.0,545.0

In [6]:
# data.meters_state_of_buliding()
data.meters_state_of_buliding(building=9, channels=['fridge', 'air conditioner']).head()

                    fridge air conditioner
reporttime
2018-01-01 00:00:00  False           False
2018-01-01 00:01:00  False           False
2018-01-01 00:02:00  False           False
2018-01-01 00:03:00  False           False
2018-01-01 00:04:00  False           False

In [8]:
# data.select_target_data()
data.select_target_data([4,5],['fridge','air conditioner'])[4].head() # take building 4 for example

                    fridge air conditioner
reporttime
2018-01-01 00:00:00  False            True
2018-01-01 00:01:00  False            True
2018-01-01 00:02:00  False           False
2018-01-01 00:03:00  False            True
2018-01-01 00:04:00  False           False

In [9]:
# data.data_preprocess()
data.data_preprocess([4,5])[4].head() # take building 4 for example

preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_5.csv saved
preprocessed_building_5.csv saved
preprocessed_meters_of_5.csv saved

                      main
reporttime
2018-01-01 00:00:00   True
2018-01-01 00:01:00   True
2018-01-01 00:02:00  False
2018-01-01 00:03:00   True
2018-01-01 00:04:00   True

In [16]:
# data.extract_switch_moment()
data.extract_switch_moment([4,9], ['television', 'fridge', 'air conditioner'], 30, '60min')[4]['fridge'][:5] # take building 4 for example

preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_9.csv saved
preprocessed_building_9.csv saved
preprocessed_meters_of_9.csv saved

reporttime
2018-01-01 07:50:00     True
2018-01-01 07:54:00    False
2018-01-01 07:55:00     True
2018-01-01 07:56:00    False
2018-01-01 07:57:00     True
Name: fridge, dtype: bool

In [13]:
data.concate_appliances_state()[4][:5] # take building 4 for example

                    air conditioner television fridge
reporttime
2018-01-01 00:00:00            True        NaN    NaN
2018-01-01 00:02:00           False        NaN    NaN
2018-01-01 00:03:00            True        NaN    NaN
2018-01-01 00:04:00           False        NaN    NaN
2018-01-01 00:33:00            True        NaN    NaN

In [18]:
data.get_usage_representation([4,5], ['television', 'fridge', 'air conditioner'])[4][:5]

preprocessed_building_4.csv saved
usage_representation_building_4.csv saved
usage_representation_meters_of_4.csv saved
preprocessed_building_5.csv saved
usage_representation_building_5.csv saved
usage_representation_meters_of_5.csv saved
preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_5.csv saved
preprocessed_building_5.csv saved
preprocessed_meters_of_5.csv saved

reporttime
2018-01-01 00:00:00     [4.0]
2018-01-01 00:02:00    [-4.0]
2018-01-01 00:03:00     [4.0]
2018-01-01 00:04:00    [-4.0]
2018-01-01 00:33:00     [4.0]
dtype: object