In [1]:
import os
from data_process import data4cluster as cluster
from sql_data import  sql4data
PATH = os.path.join(os.path.expanduser('~') , 'Desktop', 'III_Usage_clustering')

In [2]:
# connect to sql
#data_from_sql = sql4data( user='@@@@',
#                          password='@@@@@@@',
#                          database='@@@@@@@@@@@',
#                          host_address='@@@@@@@@@@@')

# down load data to the folder 'data' with name raw_data.csv between the start date and the end_data
#data_from_sql.read_data(start_date = '2018-01-01', end_date = '2018-01-15', file_name = 'test_data')
#data_from_sql.disconnect()

In [3]:
# load the test_data.csv
data = cluster()
df = data.read_data_from_csv(os.path.join( PATH,'data','test_data.csv'))

In [4]:
df.head()

   buildingid  channelid           reporttime      w
0           9          0  2018-01-01 00:00:47  570.0
1           9          0  2018-01-01 00:01:47  631.0
2           9          0  2018-01-01 00:02:47  613.0
3           9          0  2018-01-01 00:03:47  631.0
4           9          0  2018-01-01 00:04:47  545.0

In [5]:
# data.load_meters_from_buliding()
df_9_long = data.load_meters_from_buliding(9, sample_rate = '1min')
df_9_long.head()

data_process.py:60: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  df_result_long = df_result_long.resample(sample_rate, how='mean')
data_process.py:67: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  df_channel = df_channel.resample(sample_rate, how='mean')

,washing machine,air conditioner,fridge,television,main
reporttime,,,,,
2018-01-01 00:00:00,0.0,0.0,2.0,192.0,570.0
2018-01-01 00:01:00,0.0,0.0,8.0,189.0,631.0
2018-01-01 00:02:00,0.0,0.0,1.0,194.0,613.0
2018-01-01 00:03:00,0.0,0.0,2.0,197.0,631.0
2018-01-01 00:04:00,0.0,0.0,1.0,196.0,545.0

In [6]:
# data.meters_state_of_buliding()
data.meters_state_of_buliding(building=9, channels=['fridge', 'air conditioner']).head()

                    fridge air conditioner
reporttime
2018-01-01 00:00:00    off             off
2018-01-01 00:01:00    off             off
2018-01-01 00:02:00    off             off
2018-01-01 00:03:00    off             off
2018-01-01 00:04:00    off             off

In [7]:
# data.select_target_data()
data.select_target_data([4,5],['fridge','air conditioner'])[4].head() # take building 4 for example

                    fridge air conditioner
reporttime
2018-01-01 00:00:00    off              on
2018-01-01 00:01:00    off              on
2018-01-01 00:02:00    off             off
2018-01-01 00:03:00    off              on
2018-01-01 00:04:00    off             off

In [8]:
# data.data_preprocess()
data.data_preprocess([4,5])[4].head() # take building 4 for example

preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_5.csv saved
preprocessed_building_5.csv saved
preprocessed_meters_of_5.csv saved

                    main
reporttime
2018-01-01 00:00:00   on
2018-01-01 00:01:00   on
2018-01-01 00:02:00  off
2018-01-01 00:03:00   on
2018-01-01 00:04:00   on

In [9]:
# data.extract_switch_moment()
data.extract_switch_moment([4,9], ['television', 'fridge', 'air conditioner'], 20, '60min')[4]['fridge'][:5] # take building 4 for example

preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_9.csv saved
preprocessed_building_9.csv saved
preprocessed_meters_of_9.csv saved

reporttime
2018-01-01 07:50:00     on
2018-01-01 07:54:00    off
Name: fridge, dtype: object

In [10]:
data.concate_appliances_state()[4] # take building 4 for example

                    air conditioner television fridge
reporttime
2018-01-01 00:00:00              on        NaN    NaN
2018-01-01 00:02:00             off        NaN    NaN
2018-01-01 07:50:00             NaN        NaN     on
2018-01-01 07:54:00             NaN        NaN    off
2018-01-03 22:51:00             NaN         on    NaN
2018-01-03 22:59:00             NaN        off    NaN

In [11]:
data.get_usage_representation([4,5], ['television', 'fridge', 'air conditioner'])[4]

preprocessed_building_4.csv saved
usage_representation_building_4.csv saved
usage_representation_meters_of_4.csv saved
preprocessed_building_5.csv saved
usage_representation_building_5.csv saved
usage_representation_meters_of_5.csv saved
preprocessed_building_4.csv saved
preprocessed_building_4.csv saved
preprocessed_meters_of_4.csv saved
preprocessed_building_5.csv saved
preprocessed_building_5.csv saved
preprocessed_meters_of_5.csv saved
DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:12:00',
               '2018-01-01 00:45:00', '2018-01-01 00:48:00'],
              dtype='datetime64[ns]', name=u'reporttime', freq=None)

TypeError: a float is required